*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.roboto{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgba(180,208,231,255);
    position: relative;
}
.head{
    display: inline-block;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 500;
}
/*----------Utility----------*/
.container{
    width: 80%;
    max-width: 1085px;
    margin: auto;
}
.container-2{
    width: 60%;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    line-height: 50px;
    vertical-align: middle;
    margin-top: 1.5%;
    margin-left: 1.5%;
    display: inline-block;
    float: left;
}
.upper{
    text-transform: uppercase;
}
.active{
    color: black;
}
.w-b{
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 2%;
    width: 40%;
}
.start{
    padding: 20%;
    background-color: blue;
    color: white;
}
.start-hero{
    padding: 2%;
    text-decoration-line: none;
    font-weight: bold;
    float: left;
    margin-right: 50%;
    font-size: 0.8em;
}
.start-main{
    margin-top: 25%;
    margin-bottom: 12%;
    padding: 5%;
    background-color: blue;
    color: white;
}
.start-main-2{
    padding: 1%;
    width: 20%;
    background-color: blue;
    color: white;
    float: right;
    display: inline-block;
}
.start-main-2 span{
    font-size: 0.8em;
}
.small-b{
    display: block;
    border: 1px solid rgba(128, 128, 128, 0.164);
    background-color: rgba(128, 128, 128, 0.11);
    width: 20%;
    margin-top: 15%;
}
.ul-left,
.ul-right, ul li a{
    text-decoration-line: none;
    font-weight: bold;
}
.ul-left,
.ul-right, ul li{
    display: inline-block;
    margin-left: 5%;
    list-style-type: none;
}
.ul-left{
    display: inline-block;
    float: left;
    width: 30%;
    margin-left: 0%;
    line-height: 10vh;
    vertical-align: middle;
}
.ul-right{
    float: right;
    display: inline-block;
    width: 35%;
    line-height: 10vh;
    vertical-align: middle;
    margin-right: 0%;
}
.head nav{
    display: inline-block;
    vertical-align: middle;
}
/*----------Hero----------*/
.hero{
    height: calc(74vh - 72.44px);
}
.text{
    text-align: left;
}
.row{
    text-align: center;
}
.text h2{
    font-size: 4em;
    margin-top: 8%;
}
.hero .row .col-1{
    width: 40%;
    margin-top: 5%;
    display: inline-block;
    float: left;
}
.hero .row .col-1 p{
    font-size: 1em;
    margin-bottom: 8%;
    text-align: left;
}
.hero .row .col-1 h4{
    margin-top: 3%;
    font-size: 0.8em;
    margin-left: 0%;
    float: left;
    margin-right: 60%;
}
.fa-arrow-down{
    float: left;
    font-size: 1.8em;
    color: black;
    margin-top: 5%;
}
.col-2{
    display: inline-block;
    float: right;
    width: 60%;
    margin-top: 5%;
}
    
.col-2 img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
/*----------Main----------*/
/*--------Sec-1-head--------*/
.sec-1{
    margin-top: 10%;
    margin-left: 20;
    margin-right: 20;
}
.sec-1 div h2{
    text-align: left;
    font-size: 2em;
}
.sec-1 .radio-r1{
    margin-right: 1%;
    display: inline-block;
    margin-top: 6%;
    margin-bottom: 4%;
}
.sec-1 .radio-r1 a div{
    width: 12px;
    height: 12px;
    border: inset rgba(0, 0, 255, 0.575) 3.5px;
    border-radius: 20px;
    display: inline-block;
    
}
.sec-1 .radio-r1 a{
    text-decoration-line: none;
}
.radio-r2{
    margin-left: 2%;
    margin-right: 1%;
    display: inline-block;
}
.sec-1 .radio-r2 a div{
    width: 12px;
    height: 12px;
    border: solid rgba(128, 128, 128, 0.568) 1px;
    border-radius: 20px;
    display: inline-block;
    text-decoration-line: none;
}
.sec-1 .radio-r2 a{
    text-decoration-line: none;
}
/*--------Sec-1-column--------*/
.sec-1 .row .column{
    width: calc(100% / 3 - 3%);
    height: 80vh;
    display: inline-block;
    border: 1px solid rgba(128, 128, 128, 0.568);
    min-height: 1000px;
}
.sec-1 .row .col-1{
    float: left;
}
.sec-1 .row .col-2{
    float: left;
    margin-top: 0%;
    margin-left: 4.5%;
}
.sec-1 .row .col-3{
    float: right;
}
.col-foot{
    width: 100%;
    height: 30vh;
    border: 1px solid rgba(128, 128, 128, 0.568);
    float: left;
    margin-top: 5%;
}
.col-foot .cat{
    height: 20%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
    line-height: 300%;
}

.sec-1 .col-1 .row{
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
}
.sec-1 .col-2 .row{
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
}
.sec-1 .col-3 .row{
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
}
.row-2{
    width: 80%;
    margin: auto;
}
.sec-1 .row .col-1 .row-2 h2{
    margin-top: 15%;
    text-align: left;
}
.sec-1 .row .col-1 .row-2 h3{
    margin-top: 5%;
    text-align: left;
}
.sec-1 .row .col-1 .row-2 p{
    margin-top: 5%;
    text-align: left;
}
.sec-1 .row .col-1 .row-2 div ul{
    display: inline-block;
    margin-top: 25%;
    margin-left: -3.5%;
}
.sec-1 .row .col-1 .row-2 div ul li{
    display: inline-block;
    margin-top: 5%;
}
.sec-1 .row .col-1 .row-2 div ul li i{
    display: inline-block;
    text-align: left;
}
.sec-1 .row .col-1 .row-2 div ul li h5{
    display: inline-block;
    text-align: left;
}
.sec-1 .row .col-1 .row-2 h4{
    margin-top: 25%;
}
.row-3{
    width: 93%;
    margin: auto;
    margin-top: 3%;
    display: inline-block;
}
.row-3 h5{
    margin-top: 1%;
    width: 30%;
}
.row-3 p{
    margin-top: 4%;
    font-size: 0.8em;
    width: 80%;
}
.ul-down-sec-1{
    font-size: 0.8em;
    text-align: left;
}
.ul-down-sec-1 ul li::before{
    content: url('f00c');
}
/*--------Sec-2--------*/
.sec-2{
    margin-top: 10%;
}
.sec-2 .row .col-1{
    width: 50%;
    float: left;
}
.sec-2 .row .col-2{
    float: right;
    width: 40%;
}
.sec-2 .row .col-2 h3{
    font-weight: bold;
    margin-bottom: 10%;
    font-size: 1.6em;
}
.sec-2 .row .col-2 p{
    font-weight: bold;
    margin-bottom: 10%;
}
.w-b a{
    text-decoration-line: none;
    color: black;
}
.sec-2 .row .col-1 img{
    max-width: 100%;
    height: auto;
}
/*--------Sec-3--------*/
.sec-3 .row .column{
    width: calc(100% / 3 - 6%);
    height: 20%;
    margin-bottom: 10%;
}
.sec-3 .row .column img{
    max-width: 100%;
    height: auto;
    margin-bottom: 5%;
}
.sec-3 .row h2{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 2.5em;
    font-weight: bold;
}
.sec-3 .row .col-1{
    float: left;
    margin-right: 9%;
}
.sec-3 .row .col-2{
    float: left;
    margin-top: 0;
}
.sec-3 .row .col-3{
    float: right;
}
.sec-3 .row .column h3{
    margin-bottom: 10%;
}
/*--------Sec-4--------*/
.sec-4 .container-2 h2{
    font-size: 2em;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;
} 
.sec-4{
    height: 50vh;
}
.sec-4 .row{
    width: 30%;
    height: 100%;
    background-color: red;
}
.sec-4 .row-1{
    float: left;
}
.sec-4 .row-3{
    float: right;
}
.sec-4 .row-2{
    width: 40%;
    height: 100%;
    float: left;
}
.sec-4 .row .column{
    width: 50%;
    height: 50%;
}
.sec-4 .col-1{
    float: left;
}
.sec-4 .col-2{
    float: left;
    margin-top: 0%;
}
.sec-4 .col-3{
    float: left;
}
.sec-4 .col-4{
    float: left;
}

.m-t-4{
    margin-top: 4%;
}
/*--------Utility-Background-Color--------*/
.bg-g{
    background-color: lightgreen;
    border: inset solid 3px rgba(144, 238, 144, 0.479);
}
.bg-br{
    background-color: rgb(82, 52, 52);
}
.bg-lb{
    background-color: rgba(32, 178, 171, 0.973);
}
.bg-r{
    background-color: red;
}
.bg-b{
    background-color: blue;
}
.bg-y{
    background-color: yellow;
}
.bg-gr{
    background-color: rgba(128, 128, 128, 0.568);
}